@use "../modules/globalVariables" as gvar;

.sectionContainer {
	$paddingSize: 2%;
	transition: background gvar.$colorTransitionTime, color gvar.$colorTransitionTime;
	min-height: 50vh;
	background: var(--color-background);
	color: var(--color-text-primary);
	padding: $paddingSize;
}

.sectionTitleDiv {
	height: 10%;
	margin-bottom: 5%;
}

.sectionTitle {
	color: var(--color-primary);
	text-align: left;
	font-weight: 400;
	font-size: 3.8rem;
	line-height: 0.8;
}

.sectionContentDiv {
	height: 90%;
}
