@use "./sectionStyles" as ss;

.sectionContainer {
	border: 1px solid red;
	$extraPadding: 8%;
	padding: 2% $extraPadding 5% $extraPadding;
}

.sectionTitle {
	text-align: right;
}

.sectionContentDiv {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.textAbout {
	font-size: 1.7rem;
}
