@use "./sectionStyles" as ss;
@use "../modules/mixins" as mx;
@use "../modules/globalVariables" as gvar;

.sectionContainer {
	$paddingSize: 4%;
	padding: 2% $paddingSize 100px $paddingSize;

	@include mx.maxMediaQuery(sm) {
		padding-bottom: 90px;
	}
	@include mx.maxMediaQuery(xs) {
	}
}

.sectionTitleDiv {
}

.sectionTitle {
	text-align: center;

	@include mx.maxMediaQuery(sm) {
		font-size: 3.1rem;
	}
	@include mx.maxMediaQuery(xs) {
		font-size: 2.7rem;
		text-align: center;
	}
}

.sectionContentDiv {
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contactTitle {
	font-size: 3rem;
	font-weight: 500;

	@include mx.maxMediaQuery(sm) {
		font-size: 2.3rem;
	}
	@include mx.maxMediaQuery(xs) {
		font-size: 1.9rem;
	}
}
.contactTxt {
	transition: color gvar.$colorTransitionTime;
	color: var(--color-text-primary-less);

	margin-top: 40px;
	padding: 0px 20%;
	font-size: 1.5rem;

	@include mx.maxMediaQuery(md) {
		width: 100%;
		padding: 0px 10%;
	}
	@include mx.maxMediaQuery(sm) {
		font-size: 1.3rem;
		padding: 0px 5%;
	}
	@include mx.maxMediaQuery(xs) {
		font-size: 1.2rem;
		padding: 0px 1%;
	}
}
.contactIconsDiv {
	margin-top: 100px;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	& > a {
		transition: transform 0.3s;
		transform: scale(3.5);
		margin: 0px 10%;

		// Icon Image
		& > svg {
			transition: fill gvar.$colorTransitionTime;
			fill: var(--color-primary);
		}

		&:hover {
			transform: scale(4);
			cursor: pointer;
			& > svg {
				fill: var(--color-primary-light);
			}
		}

		@include mx.maxMediaQuery(sm) {
			margin: 0px 15%;
		}
		@include mx.maxMediaQueryPX(400px) {
			margin: 0px 50px;
		}
		@include mx.maxMediaQuery(xs) {
		}
	}
}
