@use "../modules/globalVariables" as gvar;
@use "../modules/mixins" as mx;
@use "../SiteLogo.module.scss";

// Footer
.footerDiv {
	width: 100%;
	min-height: 70px;
	padding: 0px 5%;

	transition: background gvar.$colorTransitionTime;
	background: var(--color-background-less);

	display: flex;
	justify-content: space-between;
	align-items: center;
}
// Message
.msgDiv {
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.msgTxt {
	color: var(--color-text-primary);
	transition: color gvar.$colorTransitionTime;

	$baseFontSize: 1.6rem;
	font-size: $baseFontSize;
	font-weight: 500;

	@include mx.maxMediaQuery(md) {
		font-size: #{$baseFontSize - 0.2};
	}
}
// Icons
.iconsDiv {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.iconLink {
	margin: 0px 15px;
	transform: scale(1.4);

	& svg {
		transition: fill gvar.$colorTransitionTime;
		fill: var(--color-primary);
	}

	@include mx.maxMediaQuery(sm) {
		transform: scale(1.2);
		margin: 0px 10px;
	}
	@include mx.maxMediaQuery(xs) {
		transform: scale(1);
		margin: 0px 8px;
	}
}
