@use "../modules/globalVariables" as gvar;
@use "../modules/mixins" as mx;

$mediaQuery_AfterSmall: 420px;

.landingContainer {
	$paddingSize: 5%;
	min-height: 100vh;
	min-height: -webkit-fill-available; /* For Webkit Browsers. */
	min-height: -moz-available; /* For Mozilla Browsers. */
	height: 100vh;
	background: var(--color-background);
	padding: 150px $paddingSize 0px $paddingSize;

	transition: background gvar.$colorTransitionTime;
}

.textDiv {
	text-align: left;
}

.txtHello {
	transition: color gvar.$colorTransitionTime;
	color: var(--color-text-primary-less);

	font-weight: normal;
	font-size: 2.2rem;

	@include mx.maxMediaQuery(sm) {
		font-size: 1.8rem;
	}
	@include mx.maxMediaQueryPX($mediaQuery_AfterSmall) {
		font-size: 1.5rem;
	}
	@include mx.maxMediaQuery(xs) {
		font-size: 1.1rem;
	}
}
.txtName {
	line-height: 0.8;
	font-weight: 500;
	font-size: 6rem;

	transition: color gvar.$colorTransitionTime;
	color: var(--color-primary);

	@include mx.maxMediaQuery(sm) {
		font-size: 4.5rem;
	}
	@include mx.maxMediaQueryPX($mediaQuery_AfterSmall) {
		font-size: 3.8rem;
	}
	@include mx.maxMediaQuery(xs) {
		font-size: 3.1rem;
	}
}
.txtWhatIDo {
	line-height: 1;
	font-weight: bold;
	font-size: 5rem;

	transition: color gvar.$colorTransitionTime;
	color: var(--color-text-primary);
	// text-shadow: 4px 4px 1px var(--color-primary);

	@include mx.maxMediaQuery(sm) {
		font-size: 3.5rem;
	}
	@include mx.maxMediaQueryPX($mediaQuery_AfterSmall) {
		font-size: 2.8rem;
	}
	@include mx.maxMediaQuery(xs) {
		font-size: 2.3rem;
	}
}
.txtWhereIAm {
	transition: color gvar.$colorTransitionTime;
	color: var(--color-text-primary-less);

	margin-top: 10px;
	font-weight: 500;
	font-size: 2.2rem;

	@include mx.maxMediaQuery(sm) {
		font-size: 2rem;
	}
	@include mx.maxMediaQueryPX($mediaQuery_AfterSmall) {
		font-size: 1.7rem;
	}
	@include mx.maxMediaQuery(xs) {
		font-size: 1.3rem;
	}
}
