@use "./sectionStyles" as ss;
@use "../modules/globalVariables" as gvar;
@use "../modules/mixins" as mx;

.sectionContainer {
}

.sectionTitleDiv {
}

.sectionTitle {
	margin-left: 6%;
	@include mx.maxMediaQuery(xs) {
		margin: 0%;
		font-size: 2.9rem;
	}
}

.sectionContentDiv {
}

.featuredProjectsDiv {
	$extraPadding: 8%;
	padding-left: $extraPadding;
	padding-right: $extraPadding;
	padding-top: 10px;

	@include mx.maxMediaQueryPX(850px) {
		padding: 0px 20px;
		padding-top: 40px;
	}
	@include mx.maxMediaQuery(sm) {
		padding: 0px 10px;
		padding-top: 10px;
	}
}

.otherProjectsDiv {
	transition: color gvar.$colorTransitionTime;
	color: var(--color-text-primary);

	$extraMargin: 10%;
	padding-left: $extraMargin;
	padding-right: $extraMargin;

	@include mx.maxMediaQuery(sm) {
		padding: 0px 3% 0px 3%;
	}
	@include mx.maxMediaQuery(xs) {
		padding: 0px;
	}
}
.otherProjectsTitle {
	font-size: 2.8rem;
	font-weight: 600;
	text-align: center;

	@include mx.maxMediaQuery(sm) {
		font-size: 2.6rem;
	}
	@include mx.maxMediaQuery(xs) {
		font-size: 2.2rem;
	}
}
.archiveLinkDiv {
	font-size: 1rem;
	text-align: center;
	margin-bottom: 70px;

	transition: color gvar.$colorTransitionTime;
	color: var(--color-text-primary-lesser);
}
