@use "./sectionStyles" as ss;
@use "../modules/globalVariables" as gvar;

.sectionContainer {
}

.sectionTitleDiv {
}

.sectionTitle {
}

.sectionContentDiv {
}

.featuredProjectsDiv {
}

.otherProjectsDiv {
	transition: color gvar.$colorTransitionTime;
	color: var(--color-text-primary);
}
.otherProjectsTitle {
	font-size: 2rem;
	text-align: center;
}
