@use "../modules/globalVariables" as gvar;
@use "../modules/mixins" as mx;

.link {
	padding: 0 2px;
	text-decoration: none;
	cursor: pointer;

	// border-bottom: 3px solid var(--color-secondary);
	box-shadow: 0 -3px 0 var(--color-secondary) inset;

	color: var(--color-text-primary-less);
	transition: color gvar.$colorTransitionTime, box-shadow 0.3s ease-out;

	&:hover {
		color: var(--color-text-primary);
		box-shadow: 0 -1.3em 0 var(--color-secondary) inset;
	}
}
