@use "../modules/globalVariables" as gvar;
@use "../modules/mixins" as mx;

.ungrown {
	// Default values, incase you don't override in EffectsHelper
	--growspeed: 1s;
	--growwidth: 120%;

	position: relative;

	&::before {
		position: absolute;
		content: "";
		width: 100%;
		transform: scaleX(0);
		background: var(--color-secondary-light);
		transition: transform var(--growspeed) ease-in-out, background gvar.$colorTransitionTime;

		border-radius: 5px;
		height: 7%;
		bottom: 0;
		left: 0;
	}
}
.growLeft {
	@extend .ungrown;

	&::before {
		transform-origin: left;
		transform: scaleX(var(--growwidth));

		// Prevent Overflowing page
		@include mx.maxMediaQuery(xs) {
			transform: scaleX(1);
		}
	}
}
.growRight {
	@extend .ungrown;

	&::before {
		transform-origin: right;
		transform: scaleX(var(--growwidth));

		// Prevent Overflowing page
		@include mx.maxMediaQuery(xs) {
			transform: scaleX(1);
		}
	}
}
.growCenter {
	@extend .ungrown;

	&::before {
		transform-origin: center;
		transform: scaleX(var(--growwidth));

		// Prevent Overflowing page
		@include mx.maxMediaQuery(xs) {
			transform: scaleX(1);
		}
	}
}
