@use "../modules/globalVariables" as gvar;
@use "../modules/mixins" as mx;

.featureProjectsList {
	// display:flex;
	// flex-direction:column;
	// justify-content: center;
	// align-items: center;

	$extraPadding: 8%;
	padding-left: $extraPadding;
	padding-right: $extraPadding;
	padding-top: 10px;

	@include mx.maxMediaQuery(lg) {
		padding: 0px 4%;
	}
	@include mx.maxMediaQuery(md) {
		padding: 0px 20px;
	}
	@include mx.maxMediaQuery(sm) {
		padding: 0px 10px;
	}
}
