@use "../modules/globalVariables" as gvar;
@use "../modules/mixins" as mx;

.featureProjectsList {
	$extraPadding: 8%;
	padding: 10px $extraPadding 0px $extraPadding;

	@include mx.maxMediaQuery(lg) {
		padding: 0px 4%;
	}
	@include mx.maxMediaQuery(md) {
		padding: 0px 20px 20px 20px;
	}
	@include mx.maxMediaQuery(sm) {
		padding: 0px 10px 20px 10px;
	}
}
