/** CSS variables */
:root {
	--color-primary: #2614c7;
	--color-primary-accent: #2614c7;
	--color-secondary: #00ff4c;

	--color-text-primary: #292828;
	--color-text-highlight: #292828;

	--color-button: #3d486c;
	--color-button-text: rgb(255, 255, 255);

	--color-background: #f5f5dc;
}
[data-theme="dark"] {
	--color-primary: #2614c7;
	--color-primary-accent: #2614c7;
	--color-secondary: #00ff4c;

	--color-text-primary: #dfdef6;
	--color-text-highlight: #dfdef6;

	--color-button: #50d478;
	--color-button-text: rgb(0, 0, 0);

	--color-background: #131314;
}
