/** CSS variables */
/* https://www.canva.com/colors/color-wheel/ */

/**
 * https://stackoverflow.com/questions/40010597/how-do-i-apply-opacity-to-a-css-color-variable
 * https://github.com/sass/node-sass/issues/2251
 * https://stackoverflow.com/questions/63192030/scss-rgba-and-loading-from-css-vars
 * 
 * Reason why need to define opacity set variables is because SASS has it's own
 * rgba() function and I simply cannot figure out how to override it with CSS's own rgba() function.
 * I have tried all methods above even making SASS call CSS using interpolation #{'rgba()'}.
 * Thus I have resorted to doing this
 */

:root {
	--color-primary: #272789;
	--color-primary-light: #8888e8;
	--color-primary-dark: #141446;

	--color-secondary: #d9880f;
	--color-secondary-light: #e7a139;
	--color-secondary-dark: #ac6d10;

	--color-text-primary: #292828;
	--color-text-primary-less: #595959;
	--color-text-primary-lesser: #696868;

	--color-background: #fefef5;
	--color-background-clear: #fefef5bc;
	--color-background-less: #dbd6d6;

	--opacity-tagText: 0.3;
}
[data-theme="dark"] {
	--color-primary: #3a3abf;
	--color-primary-light: #7676ef;
	--color-primary-dark: #171784;

	--color-secondary: #d9880f;
	--color-secondary-light: #e7a139;
	--color-secondary-dark: #ac6d10;

	--color-text-primary: #ebebf9;
	--color-text-primary-less: #b2b1c4;
	--color-text-primary-lesser: #858593;

	--color-background: #131314;
	--color-background-clear: #131314d5;
	--color-background-less: #19191a;

	--opacity-tagText: 0.2;
}
