@use "./modules/globalVariables";

.listContainer {
	transition: background globalVariables.$colorTransitionTime, color globalVariables.$colorTransitionTime;
	background: var(--color-background);
}
.title {
	color: var(--color-primary);
}
.projectListItem {
	color: var(--color-primary);
}
.backBtn {
	transition: background globalVariables.$colorTransitionTime, color globalVariables.$colorTransitionTime;
	background: var(--color-button);
	color: var(--color-primary);
}
