@use "./modules/globalVariables" as gvar;
@use "./modules/mixins" as mx;
@use "./SiteLogo.module.scss";

$tempBreakpoint: 410px;
$columnView: sm;
// common attributes
.primaryTxtAttributes {
	color: var(--color-text-primary);
	transition: color gvar.$colorTransitionTime;
}

// Page Div
.projectArchiveDiv {
	transition: background gvar.$colorTransitionTime, color gvar.$colorTransitionTime;
	background: var(--color-background);
}
// Navbar
.archiveNavbar {
	$hDivLinksPadding: 20px;
	transition: transform 0.3s, background gvar.$colorTransitionTime;

	background: var(--color-background);
	width: 100%;
	height: 80px;
	padding: $hDivLinksPadding $hDivLinksPadding;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
// Content
.archiveContent {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	$sidePadding: 7%;
	padding-left: $sidePadding;
	padding-right: $sidePadding;
	padding-bottom: 70px;
}
// Text Content Div
.textContentDiv {
	text-align: center;
}
// Title
.titleTxt {
	$baseFontSize: 4.8rem;
	font-size: $baseFontSize;

	@extend .primaryTxtAttributes;

	@include mx.maxMediaQuery(md) {
		font-size: #{$baseFontSize - 0.8};
	}
	@include mx.maxMediaQuery($columnView) {
		font-size: #{$baseFontSize - 1.6};
	}
	@include mx.maxMediaQueryPX($tempBreakpoint) {
		font-size: #{$baseFontSize - 2.2};
	}
	@include mx.maxMediaQuery(xs) {
	}
}
// Back Link
.backLinkDiv {
	$baseFontSize: 1.2rem;
	font-size: $baseFontSize;

	@include mx.maxMediaQuery(md) {
		font-size: #{$baseFontSize - 0.2};
	}
	@include mx.maxMediaQuery($columnView) {
		font-size: #{$baseFontSize - 0.3};
	}
	@include mx.maxMediaQueryPX($tempBreakpoint) {
		font-size: #{$baseFontSize - 0.4};
	}
	@include mx.maxMediaQuery(xs) {
	}
}
// Description
.descriptionTxt {
	$baseFontSize: 1.7rem;
	font-size: $baseFontSize;
	margin-top: 50px;

	@extend .primaryTxtAttributes;
	color: var(--color-text-primary-less);

	@include mx.maxMediaQuery(md) {
		font-size: #{$baseFontSize - 0.2};
	}
	@include mx.maxMediaQuery($columnView) {
		font-size: #{$baseFontSize - 0.4};
	}
	@include mx.maxMediaQueryPX($tempBreakpoint) {
		font-size: #{$baseFontSize - 0.5};
	}
	@include mx.maxMediaQuery(xs) {
		font-size: #{$baseFontSize - 0.7};
	}
}
// Projects List
.listDiv {
	margin-top: 70px;
	width: 100%;

	@include mx.maxMediaQuery(md) {
	}
	@include mx.maxMediaQuery($columnView) {
		margin-top: 40px;
	}
}
// List Item Row Div
.listItemRowDiv {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;

	// border: 2px solid var(--color-primary);
	// border-radius: 20px;
	// background: var(--color-background-less);
	// padding: 15px;
	margin: 25px 0px;

	@include mx.maxMediaQuery($columnView) {
		flex-direction: column;
		margin: 35px 0px;
	}
}
// List Item Title Row Div
.listItemPropertyTitleRowDiv {
	@include mx.maxMediaQuery($columnView) {
		display: none;
	}
}
// Title Row Text
.listItemPropertyTitleTxt {
	@extend .primaryTxtAttributes;
	color: var(--color-text-primary);
	font-size: 1.4rem;
}

/******************** List Item Columns ********************/
// Date Column
.listItemColumnDiv_Date {
	min-width: 70px;

	@include mx.maxMediaQuery($columnView) {
		width: 100%;
	}
}
// Project Column
.listItemColumnDiv_Project {
	$projectWidth: 60%;
	min-width: $projectWidth;
	width: $projectWidth;

	@include mx.maxMediaQuery($columnView) {
		width: 100%;
	}
}
// Tags Column
.listItemColumnDiv_Tags {
	$tagsWidth: 15%;
	width: $tagsWidth;
	min-width: $tagsWidth;

	margin: 0px 15px;

	@include mx.maxMediaQuery(md) {
		display: none;
	}
	@include mx.maxMediaQuery($columnView) {
		display: block;
		margin: 0px;
		width: 100%;
	}
}
// Links Column
.listItemColumnDiv_Links {
	min-width: 100px;
	text-align: center;

	@include mx.maxMediaQuery($columnView) {
		display: none;
	}
}
/********************** List Item Project **********************/
// Date
.itemDateTxt {
	@extend .primaryTxtAttributes;
	color: var(--color-primary-light);

	$baseFontSize: 1rem;
	font-size: $baseFontSize;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 50px;

	@include mx.maxMediaQuery($columnView) {
		display: block;
		min-height: 0;
		font-size: #{$baseFontSize + 0.1};
	}
}
// Title
.itemTitleDiv {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include mx.maxMediaQuery(xs) {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
}
.itemTitleTxt {
	@extend .primaryTxtAttributes;
	color: var(--color-secondary);

	$baseFontSize: 1.3rem;
	font-size: $baseFontSize;

	@include mx.maxMediaQuery($columnView) {
		margin-right: 20px;
		font-size: #{$baseFontSize + 0.1};
	}
}
// Description
.itemDescriptionTxt {
	@extend .primaryTxtAttributes;
	color: var(--color-text-primary-less);

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	$baseFontSize: 1rem;
	font-size: $baseFontSize;

	@include mx.maxMediaQuery($columnView) {
		margin-top: 5px;

		white-space: normal;
		overflow: null;
		text-overflow: null;
	}
}
// Tags Div
.itemTagsDiv {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	@include mx.maxMediaQuery($columnView) {
		margin-top: 15px;
	}
}
// Tag
.itemTagIconDiv {
	$baseScale: 1.5;
	transform: scale($baseScale);
	margin-right: 20px;
	margin-top: 10px;
	min-width: 10px;

	// Icon
	& svg {
		transition: fill gvar.$colorTransitionTime;
		fill: var(--color-text-primary-less);
	}

	@include mx.maxMediaQuery($columnView) {
		margin-top: 0;
	}
}
// Links Div
.itemLinksDiv {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.itemLinksDiv_NextToTitle {
	display: none;

	@include mx.maxMediaQuery($columnView) {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-top: 10px;
	}
}
// Link Icon
.itemLinkIconDiv {
	$baseScale: 1.2;
	transform: scale($baseScale);
	margin-right: 10px;

	// Icon
	& a svg {
		transition: fill gvar.$colorTransitionTime;
		fill: var(--color-text-primary-less);

		@include mx.maxMediaQuery(md) {
		}
	}
}
